<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    
    <title>Errore 404</title>
</head>
<body>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

    <div class="text-center">

        <h1 class="text-danger">404</h1>
        <h2 class="mb-3">Pagina non trovata</h2>

        <p class="text-muted">
            Il videogioco richiesto non esiste oppure è stato eliminato.
        </p>

        <p class="text-muted">
            Controlla l'URL oppure torna alla home.
        </p>

        <a th:href="@{/}" class="btn btn-primary mt-3">
            Torna alla Home
        </a>

    </div>

</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>